.problems {
  margin: 0 0 120px;
}

.problems__container {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.problems__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.problems__text-title {
  padding: 0 6px;
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 600;
}

.problems__text-paragraph {
  padding: 0 6px;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 400;
}

.problems__button {
  padding: 12px;
  border: 2px solid #ff8c00;
  border-radius: 4px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #ff8c00;
}

.problems__button:hover {
  background-color: rgba(255, 140, 0, 0.1);
}

.problems__image {
  background-size: cover;
  width: 600px;
}

@media screen and (max-width: 900px) {
  .problems__image {
    width: 400px;
  }
}

@media screen and (max-width: 700px) {
  .problems {
    margin-bottom: 60px;
  }

  .problems__container {
    flex-direction: column;
  }

  .problems__image {
    width: 100%;
    order: 1;
  }

  .problems__text {
    order: 2;
  }
}
