.intro {
  margin-bottom: 120px;
}

.intro__container {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.intro__lists {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}

.intro__list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  max-width: 360px;
  width: 100%;
}

.intro__list-title {
  color: #ff8c00;
  margin: 0 0 10px;
  padding: 0 6px;
  font-size: 24px;
  font-weight: 600;
}
.intro__list-paragraph {
  padding: 0 6px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.intro__list-span {
  color: #ff8c00;
}

@media screen and (max-width: 680px) {
  .intro {
    margin-bottom: 60px;
  }

  .intro__lists {
    flex-direction: column;
  }

  .intro__list {
    max-width: 100%;
  }

  .intro__list-title {
    margin: 10px 0;
    font-size: 20px;
  }
}
