.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ff8c00;
}

.footer__container {
  margin: 0 auto 0;
  padding: 30px 20px 30px;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.footer__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: 0.5s linear;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__navigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__box {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
  color: #c8daea;
}

.footer__icon {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.footer__icon:hover {
  opacity: 0.7;
  scale: 1.1;
}

@media screen and (max-width: 680px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__navigation {
    padding-top: 16px;
  }
}
